<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Social Wall</h1>
      <form id="message-form" method="POST" action="/messages">
        <textarea id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <textarea id="message-creator" name="creator" placeholder="Enter your alias."></textarea>
        <button type="submit">Post</button>
      </form>
      <form id="message-form" method="POST" action="/messages">
        
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <% if message.shown == 1 then %>
              <li>
                <div>
                  <!--
                  <form name="input" action="/submitOpinion" method="get">
                    <input type="checkbox" name="opinion" value=<#%= "Like" << messages.index(message).to_s %> >Like
                    <input type="checkbox" name="opinion" value=<#%= "Hate" << messages.index(message).to_s %> >Hate
                    <input type="checkbox" name="opinion" value=<#%= "Impl" << messages.index(message).to_s %> >Implode
                    <input type="submit" value="Submit">
                  </form>
                  -->
                  <form action="/messageLike/<%= message.id %>" method="POST">
                    <button type="submit">Like</button>
                  </form>
                  <form action="/messageHate/<%= message.id %>" method="POST">
                    <button type="submit">Hate</button>
                  </form>
                  <form action="/messageImplode/<%= message.id %>" method="POST">
                    <button type="submit">IMPLODE</button>
                  </form>
                </div>
                <div class="message-body">
                  <p><%= message.body %></p>
                  <p><%= "Posted by " << message.creator << "; " << message.likes.to_s << " likes, " << message.dislikes.to_s << " dislikes" %></p>
                </div>
                <% comments.each do |comment| %>
                  <% if comment.parentId.to_i == message.id then %>
                    <div class="comment-body">
                      <p><%= comment.body %></p>
                    </div>
                    <div class="comment-timestamp">
                      <p><%= "Comment by " << comment.creator << "; " << message.created_at.strftime("%B %d, %Y at %l:%M%p") %></p>
                    </div>
                  <% end %>
                <% end %>
                <div>
                  <form id="comment-form" method="POST" action="/comments/<%= message.id %>">
                    <textarea id="comment-body" name="body" placeholder="Enter a comment to this message."></textarea>
                    <textarea id="comment-creator" name="creator" placeholder="Enter your alias."></textarea>
                    <button type="submit">Post</button>
                  </form>
                </div>
                <div class="message-timestamp">
                  Posted on <%= message.created_at.strftime("%B %d, %Y at %l:%M%p") %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>
