<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Social Wall</h1>
      <% if loggedUser != nil then %>
        <p><%= "Logged in as: " << loggedUser.name %></p>
      <% else %>
        <p>You are not logged in.</p>
      <% end %>
      <!--
      <#% users.each do |user| %>
        <#% if users.index(user).to_i == loggedUser then %>
          <p>Logged in</p>
        <#% else %>
          <p><#%= user.name %></p>
        <#% end %>
      <#% end %>
      -->
      <form id="message-form" method="POST" action="/messages">
        <textarea id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <button type="submit">Post</button>
      </form>
      <form id="sign-up-form" method="POST" action="/register">
        <textarea id="sign-up-username" name="username" placeholder="Your new username"></textarea>
        <textarea id="sign-up-password" name="password" placeholder="Your new password"></textarea>
        <button type="submit">Sign up!</button>
      </form>
      <form id="sign-in-form" method="POST" action="/signin">
        <textarea id="sign-in-username" name="username" placeholder="Username"></textarea>
        <textarea id="sign-in-password" name="password" placeholder="Password"></textarea>
        <button type="submit">Sign in!</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <% if message.shown == 1 then %>
              <li>
                <div class="message-body">
                  <p><%= message.body %></p>
                  <p><%= "Posted by " << users.get(message.user_id).name %></p>
                </div>
                <div class="message-likes">
                  <p><%= message.likes_tostring %></p>
                <div>
                  <!--
                  <form name="input" action="/submitOpinion" method="get">
                    <input type="checkbox" name="opinion" value=<#%= "Like" << messages.index(message).to_s %> >Like
                    <input type="checkbox" name="opinion" value=<#%= "Hate" << messages.index(message).to_s %> >Hate
                    <input type="checkbox" name="opinion" value=<#%= "Impl" << messages.index(message).to_s %> >Implode
                    <input type="submit" value="Submit">
                  </form>
                  -->
                  <form action=<%= "/messageLike/" << message.id.to_s << "/" << loggedUser.id.to_s %> method="POST">
                    <button type="submit">Like</button>
                  </form>
                  <form action="/messageHate/<%= message.id %>" method="POST">
                    <button type="submit">Hate</button>
                  </form>
                  <form action="/messageImplode/<%= message.id %>" method="POST">
                    <button type="submit">IMPLODE</button>
                  </form>
                </div>
                <div class="message-timestamp">
                  Posted on <%= message.created_at.strftime("%B %d, %Y at %l:%M%p") %>
                </div>
                <% comments.each do |comment| %>
                  <% if comment.parentId.to_i == message.id and comment.shown == 1 then %>
                    <div class="comment-body">
                      <p><%= comment.body %></p>
                    </div>
                    <div class="comment-timestamp">
                      <p><%= "Commented by " << users.get(comment.user_id).name << " at " << comment.created_at.strftime("%B %d, %Y at %l:%M%p") %></p>
                      <div>
                        <form action="/commentLike/<%= comment.id %>" method="POST">
                          <button type="submit">Like</button>
                        </form>
                        <form action="/commentHate/<%= comment.id %>" method="POST">
                          <button type="submit">Hate</button>
                        </form>
                        <form action="/commentImplode/<%= comment.id %>" method="POST">
                          <button type="submit">IMPLODE</button>
                        </form>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <div>
                  <form id="comment-form" method="POST" action="/comments/<%= message.id %>">
                    <textarea id="comment-body" name="body" placeholder="Enter a comment to this message."></textarea>
                    <button type="submit">Post</button>
                  </form>
                </div>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
      <h2>Registered Users</h2>
      <% users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    </div>
  </body>
</html>
