<!DOCTYPE html>
<html>
  <head>
    <title>ReTumblr</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <div id="title-heading">
        <h1>ReTumblr</h1>
      </div>
      <div id="loggeduser">
        <% if loggedUser != nil then %>
          <p><%= "Logged in as: " << loggedUser.name %></p>
        <% else %>
          <p>You are not logged in.</p>
        <% end %>
      </div>
      <!--
      <#% users.each do |user| %>
        <#% if users.index(user).to_i == loggedUser then %>
          <p>Logged in</p>
        <#% else %>
          <p><#%= user.name %></p>
        <#% end %>
      <#% end %>
      -->
      <form id="message-form" method="POST" action="/messages">
        <textarea id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <button type="submit">Post</button>
      </form>
      <form id="sign-up-form" method="POST" action="/register">
        <input type="text" id="sign-up-username" name="username" placeholder="Your new username"></input>
        <div id="sign-up-password">
          <input type="text" name="password" placeholder="Your new password"></input>
          <button type="submit">Sign up!</button>
        </div>
      </form>
      <form id="sign-in-form" method="POST" action="/signin">
        <input type="text" id="sign-in-username" name="username" placeholder="Username"></input>
        <div id="sign-in-password">
          <input type="text" name="password" placeholder="Password"></input>
          <button type="submit">Sign in!</button>
        </div>
      </form>
      <!--
      <form id="guest-log-in" method="POST" action="/signinguest">
        <button type="submit">Sign in as a guest!</button>
      </form>
      -->
      <% if messages != nil %>
      
        <% if loggedUser.tumblr_subscriptions.empty? then %>
          <h2>No posts from Tumblr</h2>
        <% else %>
        
          <!-- A bit of duplication here -->
          <% loggedUser.tumblr_subscriptions.each do |t_sub| %>
            <% t_sub.tumblr_posts.each do |pst| %>
              <div class="post-text">
                <p><%= pst.body.to_s %></p>
              </div>
            <% end %>
          <% end %>
          
          
          <% loggedUser.followings.each do |retumblr_user| %>
            <% retumblr_user.tumblr_subscriptions.each do |t_sub| %>
              <% t_sub.tumblr_posts.each do |pst| %>
                <div class="post-text">
                  <p><%= pst.body.to_s %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
          
        <% end %>
        
        <% if messages.empty? %>
          <h2>No messages from you.</h2>
        <% else %>
          <h2>Your messages:</h2>
          <ol class="message-list">
            <% messages.each do |message| %>
              <% if message.shown == 1 then %>
                <li>
                  <div class="message-body">
                    <p><%= message.body %></p>
                  </div>
                  <div class="message-likes">
                    <p><%= get_message_likes(message) %></p>
                  <div>
                    <!--
                    <form name="input" action="/submitOpinion" method="get">
                      <input type="checkbox" name="opinion" value=<#%= "Like" << messages.index(message).to_s %> >Like
                      <input type="checkbox" name="opinion" value=<#%= "Hate" << messages.index(message).to_s %> >Hate
                      <input type="checkbox" name="opinion" value=<#%= "Impl" << messages.index(message).to_s %> >Implode
                      <input type="submit" value="Submit">
                    </form>
                    -->
                    <form action=<%= "/messageLike/" << message.id.to_s << "/" << loggedUser.id.to_s %> method="POST">
                      <button type="submit">Like</button>
                    </form>
                    <form action="/messageImplode/<%= message.id %>" method="POST">
                      <button type="submit">IMPLODE</button>
                    </form>
                  </div>
                  <div class="message-timestamp">
                    <p><%= "Posted by " << users.get(message.user.id).name + " on " + message.created_at.strftime("%B %d, %Y at %l:%M%p") %></p>
                  </div>
                  <% comments.each do |comment| %>
                    <% if comment.message == message then %>
                      <div class="comment-body">
                        <p><%= comment.body %></p>
                      </div>
                      <div class="comment-timestamp">
                        <p><%= "Commented by " << users.get(comment.user.id).name << " at " << comment.created_at.strftime("%B %d, %Y at %l:%M%p") %></p>
  
                        <div>
                          <form action=<%= "/commentLike/" << comment.id.to_s << "/" << loggedUser.id.to_s %> method="POST">
                            <button type="submit">Like</button>
                          </form>
                          <form action="/commentImplode/<%= comment.id %>" method="POST">
                            <button type="submit">IMPLODE</button>
                          </form>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div>
                    <form id="comment-form" method="POST" action="/comments/<%= message.id %>">
                      <textarea id="comment-body" name="body" placeholder="Enter a comment to this message."></textarea>
                      <button type="submit">Post</button>
                    </form>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ol>
        <% end %>
      <% end %>
      <% if inbox_messages != nil then %>
        <% if inbox_messages.empty? then %>
          <h2>You are not following anyone.</h2>
        <% else %>
          <h2>Your followings' messages:</h2>
          <ol class="inbox-message-list">
            <% inbox_messages.each do |message| %>
              <% if message.shown == 1 then %>
                <li>
                  <!--
                  <div class="inbox-message-body">
                    <p><#%= message.body %></p>
                    <p><#%= "Posted by " << users.get(message.user.id).name %></p>
                  </div>
                  -->
                  
                  <div class="message-body">
                    <p><%= message.body %></p>
                  </div>
                  <div class="message-likes">
                    <p><%= get_message_likes(message) %></p>
                  <div>
                    <!--
                    <form name="input" action="/submitOpinion" method="get">
                      <input type="checkbox" name="opinion" value=<#%= "Like" << messages.index(message).to_s %> >Like
                      <input type="checkbox" name="opinion" value=<#%= "Hate" << messages.index(message).to_s %> >Hate
                      <input type="checkbox" name="opinion" value=<#%= "Impl" << messages.index(message).to_s %> >Implode
                      <input type="submit" value="Submit">
                    </form>
                    -->
                    <form action=<%= "/messageLike/" << message.id.to_s << "/" << loggedUser.id.to_s %> method="POST">
                      <button type="submit">Like</button>
                    </form>
                    <form action="/messageImplode/<%= message.id %>" method="POST">
                      <button type="submit">IMPLODE</button>
                    </form>
                  </div>
                  <div class="message-timestamp">
                    <p><%= "Posted by " << users.get(message.user.id).name + " on " + message.created_at.strftime("%B %d, %Y at %l:%M%p") %></p>
                  </div>
                  <% comments.each do |comment| %>
                    <% if comment.message == message then %>
                      <div class="comment-body">
                        <p><%= comment.body %></p>
                      </div>
                      <div class="comment-timestamp">
                        <p><%= "Commented by " << users.get(comment.user.id).name << " at " << comment.created_at.strftime("%B %d, %Y at %l:%M%p") %></p>
  
                        <div>
                          <form action=<%= "/commentLike/" << comment.id.to_s << "/" << loggedUser.id.to_s %> method="POST">
                            <button type="submit">Like</button>
                          </form>
                          <form action="/commentImplode/<%= comment.id %>" method="POST">
                            <button type="submit">IMPLODE</button>
                          </form>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div>
                    <form id="comment-form" method="POST" action="/comments/<%= message.id %>">
                      <textarea id="comment-body" name="body" placeholder="Enter a comment to <%= message.user.name %>'s message."></textarea>
                      <button type="submit">Post</button>
                    </form>
                  </div>
                  
                </li>
              <% end %>
            <% end %>
          </ol>
        <% end %>
      <% else %>  
        <h2>No messages available from subscribers.</h2>
      <% end %>
      <% if users.length == 0 then %>
        <h2>No registered users.</h2>
      <% else %>
        <h2>Registered Users</h2>
        <form id="search-users" method="POST" action="/searchUser">
          <input type="text" id="username" name="username" placeholder="ReTumblr Name"></input>
          <button type="submit">Search</button>
        </form>
        <% users.each do |user| %>
          <div id=<%= "listed-username" + user.id.to_s %>>
            <a href=<%= "/users/" << user.id.to_s %>><%= user.name %></a>
          </div>
        <% end %>
      <% end %>
      <form id="search-tumblr" method="POST" action="/tumblr">
        <input type="text" id="tumblrname" name="tumblrname" size="40" placeholder="Tumblr Blog (do not include '.tumblr.com')"></input>
        <button type="submit">Get</button>
      </form>
      <% if tumblr_search != nil %>
        <% tumblr_search.each do |ts| %>
          <div id=<%= "listed-tumblrname" + ts.id.to_s %>>
            <a href=<%= "/tumblr/" + ts.tumblr_name.to_s %>><%= ts.tumblr_name %></a>
          </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
