<!DOCTYPE html>
<html>
  <head>
    <title><%= user.name %></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="userpage.css">
  </head>
  <body>
    <div id="page">
      <form id="message-form" method="POST" action="/redirectHome">
        <button type="submit">To your wall</button>
      </form>
      <h1><%= user.name %></h1>
      <p><%= user.name + " is subscribed to " + get_subscribed_to(user) + "." %></p>
      <p><%= user.name + " is also subscribed these Tumblr blogs: " + get_subscribed_tumblr(user) %></p>
      <form id="message-form" method="POST" action=<%= "/subscribe/" + loggedUser.id.to_s + "/" + user.id.to_s %>>
        <button type="submit">Subscribe to this user</button>
      </form>
      <h2><%= user.name + "'s content:" %></h2>
      <% user.tumblr_subscriptions.each do |t_sub| %>
        <% tumblr_post(t_sub.tumblr_name.to_s).each do |pst| %>
          <% if pst["type"] == "photo" then %>
            <div class="post-image">
              <p><img src=<%= pst["photos"][0]["original_size"]["url"] %>></img></p>
            </div>
          <% end %>
          <% if pst["type"] == "text" then %>
            <div class="post-text">
              <p><%= pst["body"].to_s %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>